<div class="container">
    <div class="col-xs-12 col-md-6" style="left: 0%; width: 100%">
        <div class="prod-info-main prod-wrap clearfix">
            <div class="row">
                <div id="albumImageDiv" class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <img class="media-object" ng-src="{{thisalbum.Pic_Link}}" class="img-responsive">
                    </div>
                </div>
                <div id="albumDescriptionDiv" class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-deatil">
                        <h5 class="name">
                            <a>
                                {{thisalbum.Name}}
                            </a>
                            <a>
                                <span>{{thisalbum.Artist}}</span>
                            </a>
                        </h5>
                        <p class="price-container">
                            <span>{{thisalbum.Price | number:2}} NIS</span>
                        </p>
                        <span class="tag1"></span>
                    </div>
                    <div class="description">
                        <p>Released In {{thisalbum["Date Released"] | date : "dd.MM.y"}}</p>
                    </div>
                    <div class="product-info smart-form" data-ng-controller="cartController as cartCtrl">
                        <div class="row">
                            <div class="col-md-12" style="display: flex">
                                <input class="directiveAmountInput" data-toggle="tooltip" title="Amount to Order"
                                       type="number" placeholder="#"
                                       ng-model="amount"
                                       onkeydown="return false" min="1">
                                <a class="btn btn-danger" ng-click="cartCtrl.addAlbumToCart(thisalbum,amount)"
                                >Add to cart</a>
                            </div>
                            <br><br>
                            <div class="col-md-12">
                                <div class="rating">Rating:
                                    {{thisalbum.Rating}}/5
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>