.container {
    height: 100%;
}

.left {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.right {
    margin-left: 50%;
    background: rgba(135, 206, 235, 0.5);
    text-align: center;
}

#albumsNavBar {
    z-index: 2;
    margin-bottom: 0;
    opacity: 0.95;
}

#albumsMainDiv {
    background-image: url("/Resources/sativaBG.png")
}

.genreDiv {
    width: 100%;
}