<head>
    <link rel="stylesheet" href="Components/Albums/AlbumsStyle.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div id="albumsMainDiv" data-ng-init="ctrl.init()">
    <nav id="albumsNavBar" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ctrl.SelectedGenre == '' ? 'All Genres' : ctrl.SelectedGenre}}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-click="ctrl.changeGenre('')"><a href="">All Genres</a></li>
                            <li ng-repeat="genre in ctrl.Genres" ng-click="ctrl.changeGenre(genre)">
                                <a href="">{{genre}}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ctrl.SelectedFilter == '' ? 'Sort By...' : ctrl.SelectedFilter}}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="filter in ctrl.Filters" ng-click="ctrl.changeFilter(filter)">
                                <a href="">{{filter}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <section class="container">
        <div class="left">
            <div ng-repeat="genre in ctrl.Genres" ng-if="ctrl.SelectedGenre == '' || ctrl.SelectedGenre == genre">
                <h2>{{genre}}</h2>
                <div>
                    <div ng-repeat="album in ctrl.Albums[genre] | orderObjectBy : ctrl.SelectedFilter">
                        <div ng-if="ctrl.SelectedAlbumInGenre[genre]==$index">
                            <button ng-click="ctrl.ScrollLeft(genre)">&#10094;</button>
                            <album
                                    thisalbum="album"></album>
                            <button ng-click="ctrl.ScrollRight(genre)">&#10095;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right" ng-if="ctrl.model.loggedIn">
            <h2>Recommended for you</h2>
            <div>
                <album ng-repeat="recomm in ctrl.Recommendations" thisalbum="recomm"></album>
            </div>
        </div>
    </section>
</div>