.container {
    /*height: 300px;*/
}

.left {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.right {
    margin-left: 50%;
    text-align: center;
}

#albumsNavBar {
    z-index: 2;
    margin-bottom: 0;
    opacity: 0.95;
}

.genreDiv {
    width: 100%;
}

#searchInNavBar {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}