<head>
    <link rel="stylesheet" href="Components/Albums/AlbumsStyle.css">
</head>
<div id="albumsMainDiv" data-ng-init="ctrl.init()">
    <nav id="albumsNavBar" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ctrl.SelectedGenre == '' ? 'All Genres' : ctrl.SelectedGenre}}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-click="ctrl.changeGenre('')"><a href="">All Genres</a></li>
                            <li ng-repeat="genre in ctrl.Genres" ng-click="ctrl.changeGenre(genre)">
                                <a href="">{{genre}}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ctrl.SelectedFilter == '' ? 'Sort By...' : ctrl.SelectedFilter}}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="filter in ctrl.Filters" ng-click="ctrl.changeFilter(filter)">
                                <a href="">{{filter}}</a></li>
                        </ul>
                    </li>
                    <li id="searchInNavBar">
                        <input type="text" ng-model="ctrl.SearchQuery" class="form-control"
                               ng-change="ctrl.resetIndexes()"
                               placeholder="Search" name="srch-term" id="srch-term">
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="left">
        <div class="genreDiv" ng-repeat="genre in ctrl.Genres"
             ng-if="ctrl.SelectedGenre == '' || ctrl.SelectedGenre == genre">
            <h2 class="viewHeader">{{genre}}</h2>
            <div>
                <div ng-repeat="album in filteredAlbums= (ctrl.Albums[genre] | filter : ctrl.SearchQuery | orderObjectBy : ctrl.SelectedFilter)">
                    <album ng-if="ctrl.SelectedAlbumInGenre[genre]==$index"
                           thisalbum="album" style="width: 70%"></album>
                </div>
            </div>
            <p class="albumNavigatorIndex" ng-if="filteredAlbums.length">{{ctrl.SelectedAlbumInGenre[genre] + 1}}/{{filteredAlbums.length }}</p>
            <button class="albumNavigatorButton" ng-click="ctrl.Scroll(filteredAlbums,genre,-1)" ng-if="filteredAlbums.length">&#10094;</button>
            <button class="albumNavigatorButton" ng-click="ctrl.Scroll(filteredAlbums,genre,1)" ng-if="filteredAlbums.length">&#10095;</button>
            <h4 class="viewHeader" ng-if="!filteredAlbums.length">No albums found</h4>
        </div>
    </div>
</div>
<div class="right" ng-if="ctrl.model.loggedIn">
    <h2 class="viewHeader">Recommended for you</h2>
    <div ng-repeat="recomm in ctrl.Recommendations">
        <album style="height: 350px; width: 70%" ng-if="ctrl.SelectedAlbumInRecommendations == $index"
               thisalbum="recomm"></album>
    </div>
    <p class="albumNavigatorIndex" ng-if="ctrl.Recommendations.length"
    > {{ctrl.SelectedAlbumInRecommendations + 1}}/{{ctrl.Recommendations.length }}</p>
    <button class="albumNavigatorButton" ng-click="ctrl.ScrollInRecommendations(-1)" ng-if="ctrl.Recommendations.length">&#10094;</button>
    <button class="albumNavigatorButton" ng-click="ctrl.ScrollInRecommendations(1)" ng-if="ctrl.Recommendations.length">&#10095;</button>
    <h4 class="viewHeader" ng-if="!ctrl.Recommendations.length">No recommendations found</h4>
</div>