<div ng-init="ctrl.getHottestAlbums()" style="background-image: url(../../Resources/sativaBG.png)">
    <div>
        <h1 style="margin: 0">Hottest Albums</h1>
        <div class="hottestAlbums" style="display: inline-flex; height: 100vh; width: 100vw">
            <div ng-repeat="album in ctrl.hottestAlbums" style="height: 100vh; width: 100vw"">
                <album thisalbum="album"></album>
            </div>
        </div>
    </div>
    <div ng-if="ctrl.model.loggedIn" ng-init="ctrl.getNewestAlbums()">
        <h1>Newest Albums</h1>
        <div class="newestAlbums" style="display: inline-flex">
            <div ng-repeat="album in ctrl.newestAlbums">
                <album thisalbum="album"></album>
            </div>
        </div>
    </div>
</div>