<div ng-init="ctrl.getHottestAlbums()" style="text-align: center">
    <div>
        <h2 class="viewHeader">Hottest Albums</h2>
        <div class="hottestAlbums">
            <div ng-repeat="album in ctrl.hottestAlbums">
                <album ng-if="ctrl.selectedHotAlbum == $index" thisalbum="album" style="width: 50%"></album>
            </div>
            <button ng-click="ctrl.scrollInHot(-1)">&#10094;</button>
            <button ng-click="ctrl.scrollInHot(1)">&#10095;</button>
        </div>
    </div>
    <div ng-if="ctrl.model.loggedIn" ng-init="ctrl.getNewestAlbums()">
        <h2 class="viewHeader">Newest Albums</h2>
        <div class="newestAlbums">
            <div ng-repeat="album in ctrl.newestAlbums">
                <album ng-if="ctrl.selectedNewAlbum == $index" thisalbum="album" style="width: 50%"></album>
            </div>
            <button ng-click="ctrl.scrollInNew(-1)">&#10094;</button>
            <button ng-click="ctrl.scrollInNew(1)">&#10095;</button>
        </div>
    </div>
</div>