<div>
    <h2>Hello! We are Ron Michaeli & Shaked Hazon</h2>
    <h3>Welcome to our album shop!</h3>
    <p>We hope you'll enjoy our site. A lot of blood, sweat and tears were shed while building it</p>
    <br>
    <p>The main difficulty we've experienced was working with the server API, which was built without any knowledge
        regarding the front-end.</p>
    <br>
    <p>Additionally, working with the many open-source packages of both Angular & Node JS was sometimes challenging.</p>
    <br>
    <p>However, we are pleased with the result and feel like we've acquired important web development tools in this
        course</p>
    <br>
    <h5>Check out some other sites we've built:</h5>
    <br>
    <a target="_blank" href="https://shakedh.github.io/FirstSite/">Shaked's awesome SPA!</a>
    <br>
    <a target="_blank" href="https://shakedh.github.io/RonielSite/">Ron's mind-blowing single page application!</a>
    <br>
    <a target="_blank" href="https://shakedh.github.io/PacMan/src/">The most amazing Pacman since 2016!</a>
    <br>
    <h3>So long and thanks for all the fish!</h3>
</div>