<head>
    <link rel="stylesheet" href="/public/Assets/style.css">
</head>
<body>
    <div ng-controller="loginController as ctrl">
        <div class="login">
            <h1>Login</h1>
            <form name="loginForm" method="post" ng-submit="ctrl.login(loginForm.$valid)" novalidate>
                <input type="text" name="username" placeholder="Username"
                       ng-model="ctrl.User.Username"
                       ng-required="true"/>
                <div ng-messages="loginForm.username.$touched && loginForm.username.$error"
                     role="alert" class="errorMessageDiv">
                    <div ng-message="required" class="some-message">Username is required</div>
                </div>
                <input type="password" name="password" placeholder="Password"
                       ng-model="ctrl.User.Password"
                       ng-required="true"/>
                <div ng-messages="loginForm.password.$touched && loginForm.password.$error"
                     role="alert" class="errorMessageDiv">
                    <div ng-message="required" class="some-message">Password is required</div>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
            </form>
        </div>
    </div>
</body>