<head>
    <link rel="stylesheet" type="text/css" href="../resources/style.css">
</head>
<div data-ng-controller="signupController as ctrl" data-ng-init="ctrl.init()">
    <div class="login">
        <h1>Sign Up</h1>
        <form name="signUpForm" ng-submit="ctrl.signUp(signUpForm.$valid)" novalidate>
            <input type="text" name="username" placeholder="Username"
                   ng-model="ctrl.User.Username"
                   ng-required="true"
                   ng-pattern="/^[a-zA-Z\s]*$/"
                   ng-minlength="3"
                   ng-maxlength="8"
                   username-Available-Validator='/checkUsernameAvailable'/>
            <div ng-messages=" signUpForm.username.$touched && signUpForm.username.$error "
                 role="alert" class="errorMessageDiv">
                <div ng-message="required" class="some-message">Username is required</div>
                <div ng-message="pattern">Username must contain english letters only</div>
                <div ng-message="minlength">Username must be minimum 3 characters long</div>
                <div ng-message="maxlength">Username must be maximum 8 characters long</div>
                <div ng-message="recordLoading"> Checking database...</div>
                <div ng-message="recordAvailable"> Username is already in use</div>
            </div>
            <input type="password" name="password" placeholder="Password"
                   ng-model="ctrl.User.Password"
                   ng-required="true"
                   ng-pattern="/^[a-zA-Z0-9\s]*$/"
                   ng-minlength="5"
                   ng-maxlength="10"/>
            <div ng-messages="signUpForm.password.$touched && signUpForm.password.$error"
                 role="alert" class="errorMessageDiv">
                <div ng-message="required" class="some-message">Password is required</div>
                <div ng-message="pattern">Password must contain english letters and numbers only</div>
                <div ng-message="minlength">Password must be minimum 5 characters long</div>
                <div ng-message="maxlength">Password must be maximum 10 characters long</div>
            </div>
            <input type="email" name="email" placeholder="Email"
                   ng-model="ctrl.User.Email"
                   ng-required="true"/>
            <div ng-messages="signUpForm.email.$touched && signUpForm.email.$error"
                 role="alert" class="errorMessageDiv">
                <div ng-message="required" class="some-message">Email is required</div>
                <div ng-message="email">Invalid email address</div>
            </div>
            <input type="text" name="q1answer" placeholder="Answer to first question"
                   ng-model="ctrl.User.Q1Answer"
                   ng-required="true"/>
            <div ng-messages="signUpForm.q1answer.$touched && signUpForm.q1answer.$error"
                 role="alert" class="errorMessageDiv">
                <div ng-message="required" class="some-message">Answer is required</div>
            </div>
            <input type="text" name="q2answer" placeholder="Answer to second question"
                   ng-model="ctrl.User.Q2Answer"
                   ng-required="true"/>
            <div ng-messages="signUpForm.q2answer.$touched && signUpForm.q2answer.$error"
                 role="alert" class="errorMessageDiv">
                <div ng-message="required" class="some-message">Answer is required</div>
            </div>
            <select ng-model="ctrl.User.Country" data-ng-options="c.Name as c.Name for c in ctrl.Countries">
            </select>
            <button type="submit" ng-disabled="signUpForm.$invalid" class="btn btn-primary btn-block btn-large">
                Join Us!
            </button>
        </form>
    </div>
</div>