<head>
    <link rel="stylesheet" href="Components/Cart/CartStyle.css">
</head>
<div id="CartDiv" ng-init="ctrl.getCart()">
    <div>
        <h1 class="viewHeader">Cart</h1>
        <div class="table-title">
            <h4><a href="#/previousOrders">Previous Orders</a></h4>
        </div>
        <table class="table-fill">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Genre</th>
                <th>Amount</th>
                <th>Price</th>
                <th></th>
            </tr>
            <tr ng-repeat="album in ctrl.orderedAlbums">
                <td><img ng-src="{{album.Pic_Link}}" width="100" height="100"/></td>
                <td><a href="" data-target="#albumModal" data-toggle="modal" data-ng-click="ctrl.ShowAlbum(album)">{{album.Name}}</a>
                </td>
                <td>{{album.Genre}}</td>
                <td class="text-center">{{album.Amount}}</td>
                <td class="text-center">{{album.Price}} NIS</td>
                <td>
                    <div>
                        <input class="amountInput" type="number" placeholder="Amount" ng-model="amount"
                               onkeydown="return false" min="1" max="{{album.Amount}}">
                    </div>
                    <div>
                        <button data-ng-click="ctrl.removeFromCart(album.AlbumID,amount)">Remove</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3"><b>Total:</b></td>
                <td><b>{{ctrl.cartTotalAmount}}</b></td>
                <td><b>{{ctrl.cartTotalPrice | number: 2}} NIS</b></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div id="albumModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="width: 100%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="panel-body text-center">
                        <h3>Album Details</h3>
                        <img ng-src="{{ctrl.shownAlbum.Pic_Link}}"/>
                        <p><b>Name:</b> {{ctrl.shownAlbum.Name}}</p>
                        <p><b>Artist:</b> {{ctrl.shownAlbum.Artist}}</p>
                        <p><b>Genre:</b> {{ctrl.shownAlbum.Genre}}</p>
                        <p><b>Price:</b> {{ctrl.shownAlbum.Price}}</p>
                        <p><b>Date Released:</b> {{ctrl.shownAlbum.Date_Released | date}}</p>
                        <p><b>Rating:</b> {{ctrl.shownAlbum.Rating}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>